body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.screen {
  background-image: url('./images/My\ project\ \(11\).png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#canvas-set-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top-canvas {
  /* border: 3px solid antiquewhite; */
  background-color: antiquewhite;

  /* margin-top: 100px; */
  display: block;
}

#game-canvas {
  /* border: 3px solid antiquewhite; */
  background-color: antiquewhite;
  /* margin: 0 auto;
  margin-top: 0; */
  display: block;
  font-family: monospace;
}

#left-canvas {
  /* border: 3px solid antiquewhite; */
  background-color: antiquewhite;

  /* margin-left: 20px; */
  display: block;
}
#right-canvas {
  /* border: 3px solid antiquewhite; */
  background-color: antiquewhite;

  /* margin-left: 20px; */
  display: block;
}


#start-screen {
  background-image: url('./images/Instructions.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#win-screen {
  background-image: url('./images/Win_screen.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#lose-screen {
  background-image: url('./images/Game_Over.png');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: #e9b047;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  color: aliceblue;
  width: 8em;
  border: 0;
  border-radius: 0.5em;
  margin-top: 50vh;
  margin-left: 60vw;
  padding: 1em;
}
