body {
  padding: 0;
  margin: 0;
  font-family: monospace;
}

.screen {
  background-image: url('./images/backgrounds/game-running-background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#canvas-set {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

#canvas-set-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#top-canvas {
  background-color: antiquewhite;
  display: block;
}

#game-canvas {
  background-color: antiquewhite;
  display: block;
  font-family: monospace;
}

#left-canvas {
  background-color: antiquewhite;
  display: block;
}
#right-canvas {
  background-color: antiquewhite;
  display: block;
}

#start-screen {
  background-image: url('./images/backgrounds/intructions.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#win-screen {
  background-image: url('./images/backgrounds/game-win.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#lose-screen {
  background-image: url('./images/backgrounds/game-over.png');
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  background-color: #e9b047;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  color: aliceblue;
  width: 8em;
  border: 0;
  border-radius: 0.5em;
  margin: 0 auto;
  margin-top: 40vh;
  padding: 1em;
}

#start-button {
  background-color: #e9b047;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 2em;
  color: aliceblue;
  width: 8em;
  border: 0;
  border-radius: 0.5em;
  margin-top: 60vh;
  margin-left: 70vw;
  padding: 1em;
}
